.menu {
  display: grid;
  grid-template-rows: 50px 1fr;
  justify-content: center;
  font-size: 1.5rem;
  .pagelist {
    list-style-type: none;
  }
  & > :nth-child(2) {
    transform: rotateZ(90deg);
  }
  .hidden {
    display: none;
  }
}
